* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    text-align: center
}

#container {
    position: relative;
    width: 1920px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto
}

#list {
    position: absolute;
    z-index: 1;
    width: 10000px;
    height: 450px;
}

#list img {
    float: left;
    width: 960px;
    height: 540px;
}

.arrow {
    position: absolute;
    top: 140px;
    z-index: 2;
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 40px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
    color: #fff;
    background-color: RGBA(0, 0, 0, .3);
    cursor: pointer;
}

.arrow:hover {
    background-color: RGBA(0, 0, 0, .7);
}

#container:hover .arrow {
    display: block;
}

#prev {
    left: 300px;
}

#next {
    right: 300px;
}

#footerBox {
    font-size: 15px;
    display: inline-block;
    margin-top: 500px;
}